/*  #header { */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SANJUGotgam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANJUGotgam.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    line-height: 70px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

#header .inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#header .inner h1 img {
    width: 160px;
    font-size: 0;
    vertical-align: middle;
    /* transform: translate(0, -1px); */
}

#header .gnb {
    display: flex;
    gap: 60px;
}

#header .gnb>ul {
    display: flex;
    gap: 60px;
    font-weight: 500;
}

#header .gnb>ul>li:hover {
    color: #E50012;
}

#header .gnb>ul>li:last-child:hover {
    color: #fff;
}

#header .gnb .red {
    background: #E50012;
    color: #fff;
    padding: 0 20px;
}

#header .gnb>ul a {
    display: block;
}


/* #header } */



/*  .mainVisual { */

.mainVisual {
    position: relative;
    margin: 0 auto;
}

.mainVisual .mainSlide {
    position: absolute;
    top: 70px;
    left: 0;
}

.mainVisual figure {
    height: 800px;
}


.mainSlide .main01 {
    background: url(../img/SH_POSTER2.jpg) no-repeat center center / cover;
}

.mainSlide .main02 {
    background: url(../img/SH_POSTER3.jpg) no-repeat center center / cover;
}

.mainSlide .main03 {
    background: url(../img/SH_POSTER1.jpg) no-repeat center center / cover;
}

.mainVisual .mainSlide {
    position: relative;
}

.mainVisual .mainSlide .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background: none;
    font-size: 0;
    z-index: 999;
}

.mainVisual .mainSlide figure {
    position: relative;
}

.mainVisual .mainSlide .mtxt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;

}

.mainVisual .mainSlide .mtxt_gr {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1200px;
}

.mainVisual .mainSlide .main01 p {
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    margin: 60px 0 20px 0;
}

.mainVisual .mainSlide .main01 p span {
    color: rgb(255, 216, 144);
    font-size: 26px;
    font-weight: 200;
    margin: 0 0 10px 0;
    font-weight: 500;
    text-align: center;
}


.mainVisual .main01 h2::after {
    content: '';
    display: block;
    width: 1px;
    height: 100px;
    background: #fff;
    margin: 30px 0 0 133px;

}

.mainVisual .mainSlide .main01 h2 span {
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    line-height: 120px;
    font-family: 'SF_HambakSnow';
}

.mainVisual .mainSlide .main01 h2 {
    color: rgb(255, 190, 68);
    font-size: 100px;
    font-weight: 700;
    line-height: 120px;
    font-family: 'SF_HambakSnow';
}

.mainVisual .mainSlide .main02 .prot {
    font-family: 'yg-jalnan';
    margin: 0 0 10px 0;
}

.mainVisual .main02 .prot h2 {
    color: #2f7fdb;
    font-size: 120px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.mainVisual .main02 .prot h2::after {
    content: '';
    display: block;
    width: 2px;
    height: 50px;
    background: #0155b4;
    margin: 20px 0 -10px 122px;

}

.mainVisual .main02 .prot strong {
    color: #0155b4;
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;

}

.mainVisual .main02 p {
    display: inline-block;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    background: #fdb00b;
    padding: 5px 5px 6px 5px;
}

.mainVisual .main03 h2 {
    font-family: 'SANJUGotgam';
    color: #0e9e56;
    font-size: 110px;

    margin: 0 0 20px 0;

}

.mainVisual .main03 p {
    font-family: 'SANJUGotgam';
    color: #008b35;
    font-size: 85px;
}

/* mainVisual } */





/* mainContent { */
.mainContent {
    position: relative;
    padding: 100px 0;
}

.mainContent .inner {
    width: 1200px;
    margin: 0 auto;
}

.mainContent .txt h2 {
    font-size: 50px;
    font-weight: 900;
    margin: 0 0 40px 0;
    text-align: center;
    color: #333;
}

.mainContent .txt p {
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 100px 0;
    text-align: center;
    line-height: 28px;
}

.mainContent .cont>div {
    font-size: 60px;
    font-weight: 700;
    margin: 0 0 60px 0;
    color: #333;
}

.menu_gnb li {
    color: rgb(142, 142, 142);
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.menu_gnb li.on {
    color: #333;
}

.mainContent .cont {}

.mainContent .cont .tab {
    position: absolute;
    top: 420px;
    right: 300px;
    width: 900px;
}

.mainContent .cont .tab>div {
    visibility: hidden;
    height: 0;
}

.mainContent .cont .tab>div.on {
    visibility: visible;
}


.mainContent .cont .menu_sd figure {}

.mainContent .menu_sd img {
    width: 100%;
    padding: 0 15px;
}




/* lootto { */

.lotto {
    padding: 100px 0;
    background: #EAE149;
}


.lotto .inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.lotto h2 {
    font-size: 60px;
    font-weight: 900;
    margin: 0 0 45px 0;
    text-align: center;
    color: #333;
}

.lotto .inner .txt figure {
    display: block;
    width: 100px;
    margin: auto;
    display: block;

}

.lotto .inner .txt img {
    width: 100%;
    margin: 0 0 40px 0;
}

.lotto .inner .txt strong {
    display: block;
    font-size: 30px;
    margin: 0 0 20px 0;
}

.lotto .inner .txt p {
    font-size: 26px;
    margin: 0 0 40px 0;
    line-height: 36px;
}

.lotto .inner .txt span {
    font-size: 32px;
    font-weight: 700;
    border-bottom: 0;
    transition: 0.5s;
    border-radius: 1px;
    color: #333;
}

.lotto .inner .txt span:hover {
    font-size: 32px;
    border-bottom: 2px solid #E50012;
    border-radius: 1px;
}



/* lootto } */




/* footer { */



.footer {
    padding: 50px 0;

    border-top: 1px solid #eee;
    background: #e7e7e7;
    color: #555;
}

.footer .inner {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.footer .list li {
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 20px 0;
}

.footer .list li~li::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    background: rgb(206, 206, 206);
    margin: 0 10px;
}


.footer .inner p {
    display: inline-block;
    font-size: 14px;

    font-weight: 300;
    margin: 0 40px 13px 0;

}

.footer .inner address {
    display: inline-block;
    font-style: normal;
    font-size: 14px;

    font-weight: 300;


}

/* footer } */