/* { #header  */

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SANJUGotgam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANJUGotgam.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    line-height: 60px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

#header .inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#header .inner h1 img {
    width: 160px;
    font-size: 0;
    vertical-align: middle;
    transform: translate(0, -1px);
}

#header .gnb {
    display: flex;
    gap: 60px;
}

#header .gnb>ul {
    display: flex;
    gap: 60px;
    font-weight: 500;
}

#header .gnb>ul>li:hover {
    color: #E50012;
}

#header .gnb .red {
    background: #E50012;
    color: #fff;
    padding: 0 20px;
}

#header .gnb>ul a {
    display: block;
}


/* #header } */



/* { .mainVisual */

.mainVisual {
    position: relative;
    margin: 0 auto;
}

.mainVisual .mainSlide {
    position: absolute;
    top: 60px;
    left: 0;
}

.mainVisual figure {
    height: 800px;
}


.mainSlide .main01 {
    background: url(../img/SH_POSTER2.jpg) no-repeat center center / cover;
}

.mainSlide .main02 {
    background: url(../img/SH_POSTER3.jpg) no-repeat center center / cover;
}

.mainSlide .main03 {
    background: url(../img/SH_POSTER1.jpg) no-repeat center center / cover;
}

.mainVisual .mainSlide {
    position: relative;
}

.mainVisual .mainSlide .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background: none;
    font-size: 0;
    z-index: 999;
}

.mainVisual .mainSlide figure {
    position: relative;
}

.mainVisual .mainSlide .mtxt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;

}

.mainVisual .mainSlide .mtxt_gr {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1200px;
}

.mainVisual .mainSlide .main01 p {
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    margin: 60px 0 20px 0;
}

.mainVisual .mainSlide .main01 p span {
    color: rgb(255, 216, 144);
    font-size: 26px;
    font-weight: 200;
    margin: 0 0 10px 0;
    font-weight: 500;
    text-align: center;
}


.mainVisual .main01 h2::after {
    content: '';
    display: block;
    width: 1px;
    height: 100px;
    background: #fff;
    margin: 30px 0 0 133px;

}

.mainVisual .mainSlide .main01 h2 span {
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    line-height: 120px;
    font-family: 'SF_HambakSnow';
}

.mainVisual .mainSlide .main01 h2 {
    color: rgb(255, 190, 68);
    font-size: 100px;
    font-weight: 700;
    line-height: 120px;
    font-family: 'SF_HambakSnow';
}

.mainVisual .mainSlide .main02 .prot {
    font-family: 'yg-jalnan';
    margin: 0 0 10px 0;
}

.mainVisual .main02 .prot h2 {
    color: #2f7fdb;
    font-size: 120px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.mainVisual .main02 .prot h2::after {
    content: '';
    display: block;
    width: 2px;
    height: 50px;
    background: #0155b4;
    margin: 20px 0 -10px 122px;

}

.mainVisual .main02 .prot strong {
    color: #0155b4;
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;

}

.mainVisual .main02 p {
    display: inline-block;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    background: #fdb00b;
    padding: 5px 5px 6px 5px;
}

.mainVisual .main03 h2 {
    font-family: 'SANJUGotgam';
    color: #0e9e56;
    font-size: 110px;

    margin: 0 0 20px 0;

}

.mainVisual .main03 p {
    font-family: 'SANJUGotgam';
    color: #008b35;
    font-size: 85px;
}